// SPDX-FileCopyrightText: 2025 Digg - Agency for Digital Government
//
// SPDX-License-Identifier: CC0-1.0

default_shell "fish"
copy_command "${ZELLIJ_COPY_COMMAND}"
theme "${ZELLIJ_THEME}"
mouse_mode true

keybinds {
    normal {
        bind "Alt d" { NewPane "Down"; }
        bind "Alt r" { NewPane "Right"; }
    }
}