return {
  {
    "sainnhe/everforest",
    config = function()
      vim.g.everforest_background = 'medium'
      vim.opt.background = '${THEME_BACKGROUND}'
      vim.g.everforest_better_performance = 1
    end
  },
  {
    "LazyVim/LazyVim",
    opts = {
      colorscheme = "everforest",
    },
  },
}