########################################
## FIPS-140-3 compliance config       ##
########################################

# FIPS Ciphers
# - aes256-gcm@openssh.com - preferred/first
# - aes128-gcm@openssh.com - compliant/fallback
# 
Ciphers aes256-gcm@openssh.com,aes128-gcm@openssh.com

# FIPS MACs
# - hmac-sha2-512-etm@openssh.com - preferred/first
# - hmac-sha2-256-etm@openssh.com - compliant/fallback
#
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com

# FIPS KexAlgorithms:
# - ecdh-sha2-nistp521 - preferred/first
# - diffie-hellman-group18-sha512 - preferred/first
# - diffie-hellman-group16-sha512 - compliant/fallback
# - ecdh-sha2-nistp384 - compliant/fallback
#
KexAlgorithms ecdh-sha2-nistp521,diffie-hellman-group18-sha512,diffie-hellman-group16-sha512,ecdh-sha2-nistp384

# FIPS HostKeyAlgorithms:
# - ecdsa-sha2-nistp521 - preferred/first
# - rsa-sha2-512 - preferred/first
# - ecdsa-sha2-nistp384 - compliant/fallback
#
HostKeyAlgorithms ecdsa-sha2-nistp521,rsa-sha2-512,ecdsa-sha2-nistp384

# FIPS PubkeyAcceptedKeyTypes:
# - ecdsa-sha2-nistp521 - preferred/first
# - rsa-sha2-512 - preferred/first
# - ecdsa-sha2-nistp384 - compliant/fallback
#
PubkeyAcceptedKeyTypes ecdsa-sha2-nistp521,rsa-sha2-512,ecdsa-sha2-nistp384
