########################################
## FIPS-140-3 strongest only config   ##
########################################

# FIPS Ciphers
# - aes256-gcm@openssh.com - preferred/only
# 
Ciphers aes256-gcm@openssh.com

# FIPS MACs
# - hmac-sha2-512-etm@openssh.com - preferred/only
#
MACs hmac-sha2-512-etm@openssh.com

# FIPS KexAlgorithms:
# - ecdh-sha2-nistp521 - preferred/first
# - diffie-hellman-group18-sha512 - preferred/second
#
KexAlgorithms ecdh-sha2-nistp521,diffie-hellman-group18-sha512

# FIPS HostKeyAlgorithms:
# - ecdsa-sha2-nistp521 - preferred/first
# - rsa-sha2-512 - preferred/second
#
HostKeyAlgorithms ecdsa-sha2-nistp521,rsa-sha2-512

# FIPS PubkeyAcceptedKeyTypes:
# - ecdsa-sha2-nistp521 - preferred/first
# - rsa-sha2-512 - preferred/second
#
PubkeyAcceptedKeyTypes ecdsa-sha2-nistp521,rsa-sha2-512
