# SPDX-FileCopyrightText: 2025 Digg - Agency for Digital Government
#
# SPDX-License-Identifier: CC0-1.0
name: Pull Request Workflow
on: # yamllint disable-line rule:truthy
  pull_request:
permissions:
  contents: read
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  pr-checks:
    uses: diggsweden/reusable-ci/.github/workflows/pullrequest-orchestrator.yml@e1e1387d5b0399bb5edb00e40485746772344176 # v2.6.0
    permissions:
      contents: read
      packages: read
      security-events: write
    secrets: inherit
    with:
      project-type: maven
      linters.devbasecheck: true
      linters.commitlint: false
      linters.licenselint: false
      linters.megalint: false
      linters.publiccodelint: false
